@page "/listPage"

<PageTitle>List Page</PageTitle>

<h1>List Page</h1>

@if (_cars.Any())
{
    <div>
        <button id="setcolorchromabtn" @onclick="SetAllColorsToRed">Set All Colors to Red</button>
        @if (_allColorsSet)
        {
            <p>colors done</p>
        }
        @if (_carsFilteredByBrand)
        {
        <p>filtering done</p>
        }
    </div>
<table class="table">
    <thead>
    <tr>
        <th>Model</th>
        <th><button id="togglebrandbtn" @onclick="() => ToggleSortByBrand()">Brand</button></th>
        <th>Color</th>
        <th>Fuel Type</th>
        <th>Release Year</th>
    </tr>
    </thead>
    <tbody>
   @foreach (var car in _cars){
        <tr>
            <td>@car.Model</td>
            <td>@car.Brand</td>
            <td>@car.Color</td>
            <td>@car.FuelType</td>
            <td>@car.ReleaseYear</td>
        </tr>
   }
    </tbody>
</table>
}