@page "/listPage"

<PageTitle>List Page</PageTitle>

<h1>List Page</h1>

@if (_cars.Any())
{
    <button @onclick="SetAllColorsToRed">Set All Colors to Red</button>
<table class="table">
    <thead>
    <tr>
        <th>Model</th>
        <th><button @onclick="() => ToggleSortByBrand()">Brand</button></th>
        <th>Color</th>
        <th>Fuel Type</th>
        <th>@* Added clickable sorting *@<button @onclick="() => SortByReleaseYear()">Release Year</button></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var car in _cars)
    {
        <tr>
            <td>@car.Model</td>
            <td>@car.Brand</td>
            <td>@car.Color</td>
            <td>@car.FuelType</td>
            <td>@car.ReleaseYear</td>
        </tr>
    }
    </tbody>
</table>
}